/* 
    Document   : style
    Created on : 02.02.2012, 14:26:00
    Author     : seroga arcady.1254@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
   font-family: arial, sans-serif;  	
 font-size: 10pt;
}
div.envelope_base{
    position: relative;
    width: 100%;
}
div.envelope{
    position: relative;
    float: left;
    width: 801px;
    height: 563px;
/*    margin: 10px auto 0;*/
margin-top: 20px;
margin-left: 120px;
    display: block;
/*    outline: 1px solid blue;*/
}
